apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
    spec:
      serviceAccountName: controller-sa
      containers:
        - name: controller
          image: ghcr.io/YOUR_ORG/vhp-controller:latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
