apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform

resources:
  - ../../base

images:
  - name: REPLACE_PANEL_IMAGE
    newName: REPLACE_PANEL_IMAGE
    newTag: REPLACE_PANEL_TAG

patches:
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: panel
