apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform

resources:
  - ../../base

images:
  - name: REPLACE_PANEL_IMAGE
    newName: ghcr.io/ark322/voxeil-panel
    newTag: latest

patches:
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: panel
