apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform

resources:
  - ../../base

images:
  - name: REPLACE_CONTROLLER_IMAGE
    newName: REPLACE_CONTROLLER_IMAGE
    newTag: REPLACE_CONTROLLER_TAG
