apiVersion: v1
kind: Service
metadata:
  name: controller
  namespace: platform
  labels:
    app.kubernetes.io/part-of: voxeil
spec:
  type: ClusterIP
  selector:
    app: controller
  ports:
    - name: http
      port: 8080
      targetPort: 8080
