apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backups-pvc
  namespace: backup-system
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 50Gi
