apiVersion: v1
kind: LimitRange
metadata:
  name: site-limits
  namespace: PLACEHOLDER_NAMESPACE
spec:
  limits:
    - type: Container
      default:
        cpu: "1"
        memory: "512Mi"
      defaultRequest:
        cpu: "100m"
        memory: "128Mi"
      min:
        cpu: "0"
        memory: "0Mi"
