apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dns-zones-pvc
  namespace: dns-zone
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
