apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: controller-backups-pvc
  namespace: platform
  labels:
    app.kubernetes.io/part-of: voxeil
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: controller-config-pvc
  namespace: platform
  labels:
    app.kubernetes.io/part-of: voxeil
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
